{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 60.13371597225626,
    "longitude": 11.024200916290285,
    "elevation": 230,
    "unit_system_v2": "metric",
    "location_name": "Markusplassen",
    "time_zone": "Europe/Oslo",
    "external_url": null,
    "internal_url": null,
    "currency": "NOK",
    "country": "NO",
    "language": "nb"
  }
}