[Desktop Entry]
Type=Application
Name=TeamViewer8 Scheme Handler
Exec=/opt/teamviewer/tv_bin/script/teamviewer --url %u
NoDisplay=true
StartupNotify=false
MimeType=x-scheme-handler/teamviewer8;
